{% extends "base.html" %}

{% block title %}Bestellungen{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
 <div class="container my-5">
   <h1>.inder Quick Start</h1>
   <p class="lead text-body-secondary">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   </p>
   <p>
     <a href="https://gitlab.com/sfz.aalen/hackwerk/dotinder" class="btn btn-primary my-2">View on GitHub</a>
   </p>
 </div>
{% endblock %}

