{% extends "base.html" %}

{% block title %}Bestellungen{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="container my-5">
    <h2>Bestellungen</h2>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Restaurant</th>
            <th scope="col">Anzahl Bestellungen</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
        {% for order in orders %}
          <tr onclick="location.href='order/{{order.id}}'" style="cursor:pointer;">
            <th scope="row">{{order.id}}</th>
            <td>{{order.menu.name}}</td>
            <td>{{order.items.len()}}</td>
            {% match order.eta %}
              {% when Some with (eta) %}
                <td>{{order.state}}  Bestellschluss: {{eta}}</td>
              {% when None %}
                <td>{{order.state}}</td>
            {% endmatch %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    document.querySelector('.nav-item a[href="/orders"]').classList.add("active");
  </script>
{% endblock %}

